html, body {
    height: 1080px; 
    overflow: hidden;
    font-size: 40px;

}
button{
    width: 50%;
    padding: 1%;
    margin: 0.5%;
    height: 20%;
    font-size: 40px;

}
h1{
text-align: center;
font-size: 100px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    line-height: 50%;
    
}
.LogoL{
    position: fixed;
    bottom:28%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-bottom: 2px;
}
.LogoR{
    position: fixed;
    bottom:28%;
    display: block;
    margin-left: 81%;
    margin-right: auto;
    width: 20%;
    margin-bottom: 2px;
}
a:link, a:visited,  a:hover, a:active
{
    color: white;
}

.footer{
    position: absolute;
    text-align: right;
    font-size: 30px;
    padding: 0px;
    margin-right: 1%;
    bottom: 0%;

}

p{
    font-size: 56px;
    margin-left: 45%;
    margin-right: 45%;;
    margin-top: 45%;
}
.fixedd{
    position: fixed;
    display: block;
    width: 100%;
    margin-left: 20%;
    margin-right: auto;
    margin-top: 60px;
    
}
.position-fixed{
    margin-left: 150px  ; 
}
h2{
    margin-top: 50px;
    text-align: center;
}